.mobilenav-container {
  display: none;
}

@media screen and (max-width: 750px) {
  .mobilenav-container {
    position: fixed;
    width: 100%;
    height: 17vh;
    display: flex;
    background-color: #303030;
    padding-bottom: calc(env(safe-area-inset-bottom, -50px) + 50px);
    .nav {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 90%;
      height: 100%;
      margin: 0 auto;
    }
  }
}
