.homepage {
  width: 93%;
  height: 100vh;
  background-color: #424242;
}
.mobile-logo {
  display: none;
}

@media screen and (max-width: 750px) {
  .homepage {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    margin-bottom: 13vh;
    overflow: hidden;
  }
  .mobile-logo {
    display: block;
    width: 92%;
    margin: 0 auto;
  }
}
